# Environment files
backend/.env
frontend/.env.local
frontend/.env

# Dependencies
frontend/node_modules
backend/venv

# Next.js build output
frontend/.next

# Python cache
backend/**/__pycache__
**/*.pyc

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage
automation_script/screenshots/lever_error.png
automation_script/screenshots/lever_initial.png
automation_script/screenshots/lever_pre_submit.png
backend/.env.example
